<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Autarky</title>
	<link rel="stylesheet" href="{{ asset('assets/style.css') }}">
</head>
<body>
	<div class="container">
		<h1>Autarky</h1>
		<p>If you can see this page, it means your PHP and webserver are set up correctly.</p>
		<p>From here, you are encouraged to look at the files included in the skeleton project, read the comments and understand what each part does. You can also browse the <a href="https://github.com/autarky/framework/wiki">framework wiki on GitHub</a> for more information.</p>
		<hr>
		<h2>Twig in action</h2>
		<p>Visit counter: {{ counter }}</p>
		<p>Message: {{ message ?: 'No message!' }}</p>
		<p>URL to another route: <a href="{{ url('second.route', ['example-parameter']) }}">Click here!</a></p>

		{% if flash %}
		<hr>
		<h2>Session flash messages</h2>
		{% for message in flash %}
			<p class="message">{{ message }}</p>
		{% endfor %}
		{% endif %}
	</div>
</body>
</html>
